body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;


}

.logo {
    width: 60px;
}

#circle {
    clip-path: circle(50% at 50% 50%);
    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

h1 {
    color: orange;

}

b {
    color: orange;
}

p {
    color: rgb(112, 110, 110);
}

.card {
    display: flex !important;
    flex-direction: column !important;

}

#main {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

/* Ensure images and content scale properly on all screen sizes */
.img-fluid {
    max-width: 100%;
    height: auto;
}

/* .card {
    margin: 20px;

} */
.card-img-top {
    width: 100% !important;
    height: 300px;
    object-fit: cover;
}


@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    /* .navbar-brand img {
        width: 50px;
    } */

}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
        /* Show 4 cards per row on laptops */
    }
}

@media (max-width: 991px) and (min-width: 576px) {
    .card-columns {
        column-count: 2;
        /* Show 2 cards per row on tablets */
    }
}

@media (max-width: 575px) {
    .card-columns {
        column-count: 3;
        /* Show 3 cards per row on mobile devices */
    }
}